<div class="fnpc-headline">
 <strong>Schwarzwald-Countdown</strong>
</div>
<div >
  <div class="countdown" ng-controller="countdownController">
    <h2 id="counter">Schwarzwald-Timer</h2>
    <form id="units">
      <input type="hidden" id="units-millennia" type="checkbox" />
      <input type="hidden" id="units-centuries" type="checkbox" />
      <input type="hidden" id="units-decades" type="checkbox" />
      <input type="hidden" id="units-years" type="checkbox" />
      <input type="hidden" id="units-months" type="checkbox" />
      <input type="hidden" id="units-weeks" type="checkbox" />
      <input type="hidden" id="units-days" type="checkbox" />
      <input type="hidden" id="units-hours" type="checkbox" />
      <input type="hidden" id="units-minutes" type="checkbox" />
      <input type="hidden" id="units-seconds" type="checkbox" />
      <input type="hidden" id="units-milliseconds" type="checkbox" />
    </form>
    <div id="timespan" class=""></div>

  </div>
</div>



