<div class="btn-group justified nav-tabs">
    <!--a class="btn btn-default" href="#/"><img src="./styles/images/icons-svg/home-black.svg"></a-->

    <a class="btn btn-default" href="#/matchday"><img src="./styles/images/icons-svg/star-black.svg"></a>
    <!--->
    <a class="btn btn-default" href="#/totalscore"><img src="./styles/images/icons-svg/bullets-black.svg"></a>

    <!--a class="btn btn-default" href="#/matchdays"><img src="./styles/images/icons-svg/calendar-black.svg"></a-->
    
    <a class="btn btn-default" href="#/articles"><img src="./styles/images/icons-svg/comment-black.svg"></a>
    <a class="btn btn-default" href="#/login"><img src="./styles/images/icons-svg/action-black.svg"></a>


    
  </div>

